<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../../public/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../public/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../public/img/favicon-16x16.png">
    <link rel="manifest" href="../../public/img/site.webmanifest">
</head>
<body>
     <div class="main-container">
        {{>header}}
            <div class="sub-container-a">
                <p>{{message}}</p> 
            </div>
    </div>
    {{>footer}}
</body>
</html>