<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    {{>header}}
    <div class="container">
        <h1>{{title1}} uuuuuu</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta eos temporibus nobis suscipit dolorum laboriosam officia natus voluptas a vitae enim explicabo ipsam voluptatum sint voluptate, nostrum similique, architecto dolore accusamus qui maiores numquam velit! Eius quasi, veniam beatae quo nam odit expedita impedit ratione quisquam! Enim sint eius recusandae!</p>
    </div>
    {{>footer}}
</body>
</html>