<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Server</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/scripts/app.js" defer></script>
</head>
<body>
    {{>header}}
    <ul>
        <li>I am {{one}}</li>
        <li>I am {{two}}</li>
        <li>I am {{three}}</li>
        <form>
            <input type="text" placeholder="Location"/>
            <button>Search</button>
        </form>
        <p id="message1"></p>
        <p id="message2"></p>
    </ul>
    {{>footer}}
</body>
</html>