<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../../public/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../public/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../public/img/favicon-16x16.png">
    <link rel="manifest" href="../../public/img/site.webmanifest">
    <title>Web Server</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/scripts/app.js" defer></script>
</head>
<body> 
    {{>header}}
    <div class="main-container">
            <div class="sub-container">
                <h1>{{title}}</h1>
                <form >
                    <input type="text" placeholder="Location"/>
                    <button>Search</button>
                </form>
                <p id="message1"></p>
                <p id="message2"></p>
            </div>
    </div>
    {{>footer}}
</body>
</html>