*{
    padding: 0;
    margin: 0;
}

.main-container{
    display: flex;
    flex-direction: column;
    background: url("../img/background.jpg");
    width: 100%;
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover ;
}

.sub-container{
    margin: auto;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
}

.sub-container p {
    font-size: 2rem;
    color: skyblue;
    margin-top: 3vh;
    font-family: "Bree Serif", serif;
}

.sub-container-a p{
    margin: 2vh 0;
    font-size: 1.4em;
    font-family: "Bree Serif", serif;
    color: rgb(225, 229, 252);
    background-color: black;
    opacity: 0.4;
}

.sub-container-a h2 {
    margin-top: 4vh;
    font-size: 2em;
    color: rgb(40, 48, 48);
    background-color: white;
    opacity: 0.35;
}
.sub-container-a h3 {
    margin-top: 1vh;
    font-size: 1.4em;
    color: rgb(40, 48, 48);
    background-color: white;
    opacity: 0.35;
}

.sub-container-a li {
    margin-top: 1.5vh;
    font-size: 1rem;
    list-style: disc;
    font-family: "Bree Serif", serif;
    color: rgb(225, 229, 252);
    background-color: black;
    opacity: 0.4;
}

h1{
    font-size: 6rem;
    margin: auto;
    color: blueviolet;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form {
    display: inline;
    margin: auto;
}

input {
    width: 25vw;
    height: 5vh;
    background-color: skyblue;
    color: darkorchid;
    margin: auto;
}

button {
    background-color: rgb(161, 61, 255);
    color: white;
    height: 2rem;
    width: 8em;
}

header {
    background-color: rgb(59, 137, 168);
    display: flex;
    align-items: center;
}

.title{
    padding: 1em;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    color: rgb(0, 0, 147);
}

header ul {
    display: flex;
}

header ul li {
    padding: 1.4em;
    list-style: none;
    color: darkblue;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header ul li:hover{
    background-color: darkblue;
    color: aqua;
}

footer {
    background-color: rgb(175, 120, 226);
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: white;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}